.header {
   background: url("../img/header/background.png");
   background-size: cover;
   background-repeat: no-repeat;
   &__top {
      @media (max-width: 768px) {
         background: #fff;
      }
   }
   &__nav {
      display: flex;
      padding: 36px 0;
   }
   &__bottom {
      padding: 50px 0;
      @media (max-width: 768px) {
         background: url("../img/header/background.png");
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
      }
   }
   &__row {
      display: flex;
      gap: 120px;
      align-items: center;
      @media (max-width: 930px) {
         gap: 50px;
      }
      @media (max-width: 768px) {
         flex-direction: column;
         gap: 80px;
         justify-content: center;
      }
   }
   &__content {
      flex-grow: 1;
      @media (max-width: 768px) {
         text-align: center;
      }
   }
   &__title {
      font-weight: 700;
      font-size: 58px;
      line-height: 65px;
      letter-spacing: 0.2px;
      color: $text-color;
      margin-bottom: 30px;
      @media (max-width: 930px) {
         font-size: 45px;
         line-height: 55px;
      }
      @media (max-width: 768px) {
         font-size: 40px;
         line-height: 50px;
      }
      @media (max-width: 400px) {
         font-size: 30px;
         line-height: 40px;
      }
   }
   &__text {
      max-width: 530px;
      margin-bottom: 30px;
      p {
         font-size: 20px;
         line-height: 30px;
         letter-spacing: 0.2px;
      }
      @media (max-width: 768px) {
         max-width: none;
      }
      @media (max-width: 400px) {
         p {
            font-size: 14px;
            font-weight: 28;
         }
      }
   }
   &__btns {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      @media (max-width: 768px) {
         justify-content: center;
      }
   }
   &__btn {
      padding: 10px 36px;
      border-radius: 37px;
   }
   &__btn--light {
      background-color: transparent;
      color: $secondary-color-2;
   }
   &__form {
      width: 330px;
      flex-shrink: 0;
      @media (max-width: 768px) {
         max-width: 330px;
         width: 100%;
         flex-shrink: 1;
      }
   }
}

.nav {
   align-items: center;
   gap: 40px;
   position: relative;
   @media (max-width: 768px) {
      flex-direction: column;
      gap: 0;
      &--show {
         gap: 80px;
      }
   }
   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
   }
   &__toggle {
      display: none;
      @media (max-width: 768px) {
         display: block;
         position: absolute;
         right: 0;
         font-size: 0;
         width: 24px;
         height: 24px;
         &::before,
         &::after {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            background-color: $second-text-color;
         }
         &::before {
            top: 7px;
            width: 100%;
         }

         span {
            display: block;
            position: absolute;
            width: 17px;
            height: 2px;
            background-color: $second-text-color;
            top: 12px;
            right: 0;
         }
         &::after {
            width: 10px;
            top: 17px;
            right: 0;
         }
      }
   }
}

.menu {
   flex-grow: 1;
   justify-content: end;
   gap: 20px;
   @media (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      height: 0;
      opacity: 0;
      visibility: hidden;
      overflow-x: hidden;
      &--show {
         height: auto;
         opacity: 1;
         visibility: visible;
      }
   }
   &__link {
      font-weight: 600;
      transition: 0.2s all ease-in-out;
      position: relative;
      @media (max-width: 768px) {
         font-size: 30px;
         line-height: 45px;
      }
      &::before {
         content: "";
         position: absolute;
         display: block;
         width: 0;
         height: 2px;
         bottom: -10px;
         left: 0;
         background-color: $hover-color;
         transition: 0.2s all ease-in-out;
      }
      &:hover {
         color: $hover-color;
         &::before {
            width: 80%;
            transition: 0.2s all ease-in-out;
         }
         transition: 0.2s all ease-in-out;
      }
   }
}
.user-list {
   gap: 18px;
   margin-top: 7px;
   @media (max-width: 768px) {
      position: absolute;
      right: 54px;
      margin-top: 0;
   }
   &__link {
      transition: 0.2s all ease-in-out;
      &:hover {
         svg {
            path {
               fill: $hover-color;
            }
         }
      }
   }
}
