// variables
// colors
$second-text-color: #737373;
$primary-color: #d0a144;
$secondary-color-1: #fdb602;
$secondary-color-2: #784f33;
$secondary-color-3: #dbb468;
$secondary-color-4: #295c7a;
$background-gradient-1: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
$text-color: #252b42;
$dark-background-color: #252b42;
$hover-color: #2a7cc7;
$disabled-element-color: #8ec2f2;
$muted-color: #bdbdbd;
$success-color: #2dc071;
$alert-color: #e77c40;
$danger-color: #e74040;

// container
$container-width: 1050px;
$container-padding: 15px;

.container {
   max-width: $container-width + ($container-padding * 2);
   padding: 0 $container-padding;
   margin: 0 auto;
}

// main settings

html {
   height: 100%;
}

body {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
   line-height: 24px;
   color: $second-text-color;
}

a {
   color: inherit;
}

.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.none {
   display: none !important;
}

.main {
   flex: 1 1 auto;
}
