// variables
// colors
$second-text-color: #737373;
$primary-color: #d0a144;
$secondary-color-1: #fdb602;
$secondary-color-2: #784f33;
$secondary-color-3: #dbb468;
$secondary-color-4: #295c7a;
$background-gradient-1: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
$text-color: #252b42;
$dark-background-color: #252b42;
$hover-color: #2a7cc7;
$disabled-element-color: #8ec2f2;
$muted-color: #bdbdbd;
$success-color: #2dc071;
$alert-color: #e77c40;
$danger-color: #e74040;

// container
$container-width: 1050px;
$container-padding: 15px;

.container {
   max-width: $container-width + ($container-padding * 2);
   padding: 0 $container-padding;
   margin: 0 auto;
}

// main settings

html {
   height: 100%;
}

body {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
   line-height: 24px;
   color: $second-text-color;
}

a {
   color: inherit;
}

.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.none {
   display: none !important;
}

.main {
   flex: 1 1 auto;
}

.btn {
   display: inline-block;
   padding: 15px 40px;
   border-radius: 5px;
   background-color: $secondary-color-2;
   font-weight: 700;
   color: #fff;
   border: 1px solid $secondary-color-2;
   transition: 0.3s all ease-in-out;
   &:hover {
      background-color: $hover-color;
      color: #fff;
   }
}

.logo {
   display: inline-block;
   @media (max-width: 768px) {
      align-self: start;
   }
}

.appointment-form {
   background-color: #fff;
   padding: 40px;
   border-radius: 5px;
   &__title {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.1px;
      color: $text-color;
      font-weight: 700;
      margin-bottom: 35px;
   }
   &__group {
      margin-bottom: 12px;
   }
   &__label {
      display: block;
      font-weight: 700;
      letter-spacing: 0.2px;
      color: $text-color;
      margin-bottom: 10px;
   }
   &__input,
   &__select {
      display: block;
      width: 100%;
      background-color: #f9f9f9;
      border: 1px solid $muted-color;
      border-radius: 5px;
      padding: 10px 20px;
      letter-spacing: 0.2px;
   }
   &__select {
      appearance: none;
      background: url("../img/icons/arrow-down.svg") no-repeat right;
      background-position-x: calc(100% - 20px);
      background-color: #f9f9f9;
      border: 1px solid $muted-color;
   }
   &__btn {
      margin-top: 28px;
      width: 100%;
      text-align: center;
   }
}
